/* a{
    text-decoration: none;
} */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    font-family: 'Lora', serif;
}

p{
    text-align: justify;
    text-indent: 40px;
}

label{
    padding-right: 40px;
}

.judul{
    text-align: center;
    color: white;
    background-color: #084a86;
    margin: 0px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 50px;
}

h3 {
    transition: 1s;
}

h3:hover{
    font-size: 30px;

}

.container{
    width: 100%;
}

.main{
    width: 60%;
    float: left;
}

.sidebar{
    float: right;
    width: 35%;
    border: 1px solid black;
    padding-left: 20px;
    padding-bottom : 50px;
}

.form{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

.form-group label{
    display: block;
}

textarea.form{
    
    height: auto!important;
    resize: none;
}

.button-blue{
    color: white;
    background-color: #084a86;
    border-radius: 10px;
    padding : 10px;
    margin-top: 20px;
    width: 80px;
}