/* a{
    text-decoration: none;
} */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    font-family: 'Lora', serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

.header{
    background-image: url("../image/background.jpg");
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.head-content{
    text-align: center;
    color: white;
}

.head-content h1{
    font-size: 50px;
    text-shadow: 10px 10px 5px black;
}

.blue-btn{
    background-color: #2879C9;
    color: white;
    padding : 10px;
    border-radius: 5px;
    border: none;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.main{
    width: 100%;
}

.bio{
    text-align: center;
    margin-bottom: 50px;
}

.project{
    display: flex;
}

.main .project-group{
    width: 25%;
    /* float: left; */
    padding-left: 80px;
    text-align: justify;
}

.contact{
    text-align: justify;
    width: auto;
    margin-left: 35%;
}

.form-group{
    margin-bottom: 10px;
    
}

.form{
    width: 40%;
    border-radius: 5px;
    padding: 10px;
}
.form-group label{
    display: block;
}

textarea.form{
    padding-bottom: 40px;
    height: auto!important;
    resize: none;
}