@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: 'Lora', serif;
    margin: 0px;
}

.jumbotron {
    background-image: url("../image/background.jpg");
    background-size: cover;
    color: whitesmoke;
    height: 500px;
}

.btn {
    border-radius: 10px;
    box-shadow: 0px 2px 2px black !important;
}

.footer {
    line-height: 50px;
    margin-bottom: 0;
}